.form {
  @include flex-col;
  justify-content: space-between;
  gap: 10px;
  height: 100vh;
  overflow: auto;
}

.container {
  @include flex-col;
  gap: 10px;
  padding: 24px;
}

.alert {
  padding: 36px;
  height: 100%;
  text-align: center;
  font-size: $font-s;
  font-weight: 600;
}
