.form {
  @include flex-col;
  justify-content: space-between;
  gap: 10px;
  padding: 24px 0 0;
  height: 100vh;
  overflow: auto;
}

.container {
  @include flex-col;
  gap: 10px;
  padding: 24px;
}
