@mixin tab-base {
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
}

.header {
  @include mixins.flex-between;
  @include mixins.layout-root;

  position: sticky;
  top: 0;
  left: 0;
  height: 7rem; // h-20
  background-color: white;
  z-index: 50;

  &__logo {
    cursor: pointer;
  }
}

.tabs {
  @include tab-base;
  display: flex;
  gap: 0.5rem; // gap-2

  &__tab {
    @include tab-base;
    position: relative;

    &--bold {
      @include tab-base;
      font-weight: 600;
    }
  }
}
