.card {
  @include flex-col;
  gap: 24px;
  padding: 24px;
  border-radius: $radius-xs;
  background-color: $secondary;
  font-size: $font-sm;
  height: 100%;
}

.card__item {
  @include flex-item;
  font-weight: 500;

  span {
    width: 20%;
  }
}

.list {
  @include flex-col;
  padding: 0 12px;
  font-size: $font-s;
  font-weight: 500;
}

.list__header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 12px;
  background-color: #f5f5f5;
  text-align: center;
}
