@mixin tab-base {
  cursor: pointer;
  color: $secondary;
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.6;
  }

  &.active {
    color: #000;
  }
}

.tabs {
  @include flex-col;
  gap: 32px;
  width: 340px;
  padding: 0 16px;
  background-color: $primary;
}

.tab {
  @include tab-base;
}

.tabLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tabLinkIcon {
  width: 1rem;
  height: 1rem;
}

.title {
  @include flex-item;
  padding: 32px 0;
  font-weight: 700;
  color: $secondary;
  cursor: default;
}
