# 환경 변수 파일들
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# 패키지 매니저 파일 및 디렉토리
node_modules
.pnpm-store
.pnpm-lock.yaml


# Turborepo 관련
.turbo

# Git
.git
.gitignore

# 로그 및 시스템 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# 빌드 결과물 (로컬에서 생긴 경우)
.next
dist
build
out


.pnpm-store
apps/**/node_modules
packages/**/node_modules