# node
node_modules/
.pnpm/

# build output
dist/
.next/
out/
storybook-static/
coverage/

# system
.DS_Store
*.log
*.local
.env
.env.*.local

# Turborepo
turbo/
.cache/

# VSCode
.vscode/

# Playwright
test-results/
playwright-report/

.vercel/
.netlify/

.turbo/

.idea/


*.tsbuildinfo