@mixin drop-down-default {
  cursor: pointer;
  width: 100%;
}

.drop-down {
  @include drop-down-default;

  &__border {
    @include drop-down-default;
    padding: 16px;
    border: 1px solid $gray-light;
    border-radius: $radius-s;

    li {
      @include flex-between;
      align-items: center;
      color: $primary;
      padding: 12px 0;
      font-weight: 400;

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }

  &__menu {
    padding-top: 16px;
  }

  &__trigger {
    @include flex-between;
    align-items: center;
    color: $primary;
    width: 100%;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.item {
  list-style: none;

  &:hover {
    background-color: #ededed;
    border-radius: $radius-xs;
  }
}

.input {
  width: 80%;
}
