.drop-down {
  border: 1px solid $gray-light;
  border-radius: $radius-s;
  width: 100%;

  &--open {
    position: relative;
    width: 100%;
    border: 1px solid $gray-light;
    border-bottom: none;
    border-radius: $radius-s $radius-s 0 0;
    cursor: pointer;
  }

  &__trigger {
    @include flex-between;
    width: 100%;
    padding: 16px;
    align-items: center;
    color: $primary;
    font-weight: 500;
  }

  &__menu {
    position: absolute;
    width: 100%;
    padding: 4px;
    background-color: white;
    border: 1px solid $gray-light;
    border-top: none;
    border-radius: 0 0 $radius-s $radius-s;
    z-index: 10;
  }

  &__item {
    @include flex-between;
    align-items: center;
    width: 100%;
    padding: 16px;
    font-weight: 400;
    color: $primary;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
      border-radius: $radius-s;
    }
  }
}

.input {
  width: 80%;
}
