.layout {
  min-height: 80vh;
  padding-bottom: 5rem;
  @include split-layout(3rem, 0, 1024px);

  &__left {
    @include flex-col;
    min-width: 55%;
    gap: 1rem;
  }

  &__right {
    @include sticky-base(14.5rem);
    @include flex-col;
    align-self: flex-start;
    width: 100%;
    gap: 2rem;
  }
}

.products-inner {
  @include flex-col;
  gap: 1rem;
}

.buttons {
  @include flex-item;
  gap: 1.3rem;
}
