.section {
  @include flex-col;
  margin-top: 16px;
  gap: 18px;
  background-color: #f5f5f5;

  &__item {
    @include flex-col;
    gap: 12px;
    background-color: #fff;
    padding: 12px;
  }
}

.item__head {
  @include flex-between;
  align-items: center;

  a {
    font-size: 14px;
    color: $gray-dark;
    text-decoration: underline;
  }
}

.section__pagination {
  @include flex-center;
  gap: 24px;
  padding: 48px 0;
}
