.list {
  display: grid;

  @include tablet {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }

  @include desktop {
    grid-template-columns: repeat(auto-fit, minmax(230px, auto));
  }

  @include mobile {
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  }
}

.banner {
  padding-bottom: 32px;
}
