.card {
  @include flex-col;
  text-align: left;
  cursor: pointer;
  padding-bottom: 16px;

  &__content {
    @include flex-col;

    gap: 12px;
    height: 100%;
    padding-bottom: 6px;
  }

  &__details {
    p {
      font-size: $font-s;
      line-height: 1rem;
    }

    &--brand {
      font-weight: 800;
      line-height: 1.25rem;
    }
  }

  &__price {
    font-size: $font-sm;
    font-weight: 700;
    line-height: 1.25rem;
  }

  &__sub {
    font-size: $font-s;
    color: #a8a29e;
  }
}
