@mixin tab-base {
  font-size: $font-sm;
  font-weight: 500;
  cursor: pointer;
}

.header {
  @include flex-between;
  @include layout-root;
  @include sticky-header;
  align-items: center;
  height: 112px;

  @include mobile {
    @include flex-col;
    justify-content: center;
  }

  &__logo {
    @include mobile {
      width: 110px;
      height: 20px;
    }
  }
}

.tabs {
  @include tab-base;
  display: flex;
  gap: 10px;

  &__tab {
    @include tab-base;
    position: relative;

    &--bold {
      @include tab-base;
      font-weight: 600;

      @include mobile {
        font-size: $font-lg;
      }
    }
  }

  @include mobile {
    font-size: $font-lg;
    font-weight: 700;
    padding: 10px 0;
  }

  &__user {
    @include mobile {
      display: none;
    }
  }
}
