// border
$radius-xs: 0.5rem;
$radius-s: 1.2rem;
$radius-sm: 1.5rem;
$radius-m: 2rem;
$radius-base: 0.75rem;

// colors
$gray-light: #dedede;
$gray-deault: #e5e7eb;
$gray-dark: #888;
$secondary: #fff;
$primary: #000000;
$disabled: #6b7280;
$error: #ef4444;

// font-size
$font-xs: 0.7rem;
$font-s: 0.8rem;
$font-sm: 0.875rem;
$font-m: 0.9rem;
$font-base: 1rem;
$font-lg: 1.2rem;
$font-xl: 1.3rem;
$font-2xl: 1.6rem;
$font-3xl: 1.875rem;
$font-4xl: 2rem;
