.section {
  @include mixins.flex-col;
  gap: 3rem;
  padding-bottom: 5rem;
}

.title {
  @include mixins.flex-between;
  @include mixins.sticky-header(7rem);
  padding-bottom: 2rem;

  &__head {
    font-size: 2rem;
  }

  &__progress {
    @include mixins.flex-center;
    gap: 0.4rem;
    font-size: 1.3rem;
    color: #888;

    &--active {
      @include mixins.flex-center;
      gap: 0.4rem;
      text-decoration: underline;
      font-size: 1.3rem;
      font-weight: 600;
      color: #000;
    }
  }
}

.order {
  @include mixins.flex-col;
  border: 1.5px solid #000;
  border-radius: 1.2rem;
  padding: 0 1rem;

  &__title {
    padding: 1.5rem 0;
    border-bottom: 1px solid #dedede;
    font-size: 1.02rem;
    font-weight: 600;
  }

  &__content {
    padding: 1rem 0;

    &--item {
      @include mixins.flex-between;
      padding: 0.2rem;
    }

    p {
      font-size: 0.875rem;
      color: #888;
    }
  }

  &__total_price {
    @include mixins.flex-between;
    padding: 1.5rem 0;
    border-top: 1px solid #dedede;
    font-size: 1rem;
    font-weight: 600;
  }
}
