.link {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.section {
  @include flex-col;
  gap: 12px;
  background-color: #fff;
  padding: 12px;
  border-bottom: 18px solid #f5f5f5;

  &:last-child {
    border-bottom: none;
  }
}

.section__head {
  @include flex-between;
  align-items: center;
}
