.card {
  @include flex-center;
  padding-bottom: 16px;

  &__content {
    @include flex-col;
    gap: 12px;
  }

  &__image {
    @include desktop {
      width: 230px;
      height: 230px;
    }

    @include tablet {
      width: 200px;
      height: 200px;
    }

    @include mobile {
      width: 180px;
      height: 180px;
    }
  }
}
