.container {
  @include mixins.flex-col;
  justify-content: space-between;
  gap: 4rem;
  min-height: 100vh;
  max-width: 1280px;
  padding: 0 2rem;
  margin: 0 auto;
}

.main {
  @include mixins.full-screen;
}

.footer {
  @include mixins.flex-center;
  background-color: black;
  padding: 4rem;
}
