.detail {
  @include mixins.flex-center-col;
  gap: 2rem;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  &__divider {
    @media (min-width: 768px) {
      border-left: 1px solid #dedede;
    }
  }

  &__content {
    @include mixins.flex-col;
    gap: 1.5rem;

    @media (min-width: 768px) {
      width: 50%;
    }
  }

  &__text {
    &--brand {
      font-weight: 600;
    }

    &--price {
      font-size: 1.875rem;
      font-weight: 700;
    }

    &--subtitle {
      font-size: 0.8rem;
      line-height: 1.5rem;
      color: #a8a29e;
    }
  }

  &__options {
    @include mixins.flex-wrap;
    gap: 1rem;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__bottom {
    @include mixins.flex-between;
    padding: 1rem 0;

    &--total {
      font-weight: 600;
    }

    &--price {
      font-size: 1.6rem;
      font-weight: 700;
    }
  }

  &__button_box {
    @include mixins.flex-col;
    gap: 0.75rem;
  }
}
