.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13px;
  height: 13px;
  background-color: #ef4444;
  border-radius: 50%;
  color: #ffffff;
  font-size: 7px;
}
