.complete {
  max-width: 703px;
  margin: 0 auto;
  padding-bottom: 10rem;

  &__title {
    @include flex-center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 5rem 0;
  }

  &__info {
    @include flex-col;

    &__wrapper {
      @include flex-col;
      border-bottom: 1px solid $primary;

      &__item {
        padding: 1.2rem 0;

        div {
          @include flex-item;
          padding-bottom: 0.4rem;
        }
      }

      p {
        font-size: $font-s;
      }
    }

    &__item {
      @include flex-item;
      padding: 1.2rem 0;
      border-bottom: 1px solid $gray-light;

      &:last-child {
        border-bottom: none;
      }

      &__title {
        color: $gray-dark;
        width: 30%;
      }

      &__total {
        font-size: $font-xl;
        font-weight: 600;
      }
    }
  }

  &__button {
    @include flex-center;
    gap: 0.75rem;
    padding: 2rem 0;
  }

  h5 {
    width: 30%;
  }
}

.address {
  padding-bottom: 0.4rem;
}
