.list {
  width: 100%;
  border-bottom: 1px solid #dedede;

  &__header {
    @include mixins.flex-evenly;
    padding: 1.25rem 1rem;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    font-weight: 500;
    font-size: 0.875rem;

    p {
      @include mixins.cell-base;
      text-align: center;

      &:nth-child(2) {
        width: 40%;
      }
    }

    div {
      @include mixins.cell-base;
    }
  }
}

.item {
  @include mixins.flex-item;
  gap: 2rem;
  padding: 1.5rem 1rem;

  &__info_box {
    @include mixins.flex-item;
    gap: 1rem;
    width: 40%;
  }

  &__info {
    width: 100%;

    p {
      font-size: 0.875rem;

      &:first-child {
        padding-bottom: 0.4rem;
        font-size: 0.8rem;
        font-weight: 500;
      }

      &:nth-child(2) {
        font-weight: 600;
        line-height: 1.25rem;
      }
    }
  }

  &__quantity {
    @include mixins.cell-base();
  }

  &__price {
    @include mixins.cell-base();
    @include mixins.flex-center;
    font-weight: 700;
  }

  &__buttons {
    @include mixins.cell-base();
    @include mixins.flex-col;
    gap: 0.5rem;
  }
}
