@mixin layout-base {
  @include flex-col;
  justify-content: space-between;
  gap: 1.5rem;
}

.detail {
  @include split-layout(3rem, 10rem 0, 1024px);

  .image__box {
    @include sticky-base(10rem);
    align-self: flex-start;

    @media (max-width: 1024px) {
      @include flex-center;
      position: inherit;
      width: 100%;
    }
  }

  &__divider {
    @media (min-width: 1024px) {
      border-left: 1px solid #dedede;
    }
  }
}

.content {
  @include layout-base;

  @media (min-width: 1024px) {
    width: 50%;
  }

  &__top {
    @include layout-base;

    &_text {
      font-size: $font-sm;
      padding: 1rem 0;

      &--brand {
        font-weight: 600;
      }

      &--price {
        font-size: $font-3xl;
        font-weight: 700;
      }

      &--subtitle {
        font-size: $font-s;
        line-height: 1.5rem;
        color: #a8a29e;
      }
    }

    &_options {
      @include flex-wrap;
      gap: 1rem;
    }
  }

  &__bottom {
    @include layout-base;

    &_wrapper {
      @include flex-between;
      align-items: center;

      padding: 1rem 0;

      &--total {
        font-weight: 600;
      }

      &--price {
        font-size: $font-2xl;
        font-weight: 700;
      }
    }

    &_buttons {
      @include flex-col;
      gap: 0.75rem;
    }
  }
}
